* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f1f1f;
    flex-direction: column;
    gap: 50px;
}
h1 {
    color: white;

}

.box {

    height: 400px;
    width: 25%;
    justify-content: center;
    align-items: center;
    display: flex;   
    flex-wrap: wrap;
    gap: 20px;
}

.color {
    height: 200px;
    width: 200px;
    opacity: 0.7;
    transition: opacity 0.2s ease, filter 0.2s ease;
}

#rojo {
    background-color: red;
}

#azul {
    background-color: blue;
}

#verde {
    background-color: greenyellow;
}

#amarillo {
    background-color: yellow;
}


.bloq {
  pointer-events: none;
  cursor: default;
}